
/* Your CSS Code here. */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.holder{
	display: grid;
	grid-template-columns: 100px 100px;
	grid-template-rows: 100px 100px;
}

.item{
	border: 1px solid black;
	border-collapse: collapse;
	display: flex;
	align-items: center;
	justify-content: center;
}